h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
.left-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    margin-top: 2%;
}
.left-width img{
    width: 100%;
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
body{
    margin: 0;
}